@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.header {
  border-bottom: 5px solid #f0b025;
}

.form-group {
  width: 30%;
}

.table {
  border: 2px solid #DEE2E6;
  margin: 0 auto;
  width: 90%;
}